body {
    margin: 0;
    width: 100vw;
    height: 100svh;
    background-blend-mode: multiply;
}

a {
    text-decoration: none;
}

.fa-solid {
    font-size: 1.2em;
    color: white;
}

#return {
    position: absolute;
    left: 5.556vw;
    top: 2.5svh;
}
.playlist {
    line-height: 1.75em;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Roboto;
    position: absolute;
    top: 2.5svh;
    left: 0;
    right: 0;
}

#playing {
    font-weight: 400;
}

#playlistName {
    font-weight: 700;
}

#openOverlay {
    position: absolute;
    right: 5.556vw;
    top: 2.5svh;
}

#songInfo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20dvh;
    height: 56dvh;
    width: 86vw;
    max-width: 500px;
}

#cover {
    width: 100%;    
    max-width: 500px;
    padding-bottom: 3%;
}

#title {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

#artist {
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
    line-height: 32px;
    word-wrap: break-word;
}

#prevSong {
    left: 25vw;
    bottom: 11vh;
    position: absolute;
    font-size: 1.3em;
}

#likeSong {
    left: 50%;
    transform: translate(-50%);
    bottom: 10.5vh;
    position: absolute;
    font-size: 1.5em;
}

#nextSong {
    right: 25vw;
    bottom: 11vh;
    position: absolute;
    font-size: 1.3em;
}