body {
    user-select: none;
    margin: 0;
    width: 100vw;
    height: 100svh;
    background-blend-mode: multiply;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.fa-solid {
    font-size: 1.2em;
    color: white;
}

#return {
    position: absolute;
    left: 5.556vw;
    top: 2.5svh;
}
.playlist {
    line-height: 1.75em;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Roboto;
    position: absolute;
    top: 2.5svh;
    left: 0;
    right: 0;
}

#playing {
    font-weight: 400;
}

#playlistName {
    font-weight: 700;
}

#openOverlay {
    position: absolute;
    right: 5.556vw;
    top: 2.5svh;
}

.card {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20dvh;
    height: 56dvh;
    width: 86vw;
    max-width: 500px;
}

.card.offLeft {
    left: -100%;
}

#cover {
    width: 100%;    
    max-width: 500px;
    padding-bottom: 3%;
}

#title {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

#artist {
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
    line-height: 32px;
    word-wrap: break-word;
}

#prevSong {
    left: 25vw;
    bottom: 11vh;
    position: absolute;
    font-size: 1.3em;
}

#likeSong {
    left: 50%;
    transform: translate(-50%);
    bottom: 10.5vh;
    position: absolute;
    font-size: 1.5em;
}

#nextSong {
    right: 25vw;
    bottom: 11vh;
    position: absolute;
    font-size: 1.3em;
}

.overlay {
    color: white;
    width: 100%;
    height: 25dvh;
    background-color: #7B00FFB2;
    font-family: 'Roboto', sans-serif;
    z-index: 98;
    position: fixed;
    top: -100%;
    overflow: auto;
    font-size: 12px;
    font-weight: 500;
    transition: top 0.3s ease;
}

.saveButton {
    background-color: #E40076;
    text-align: center;
    position: fixed;
    display: none;
    border-radius: 16px;
    height: 3%;
    padding-top: 2%;
    top: 2%;
    width: 27.778%;
    font-size: 12px;
    font-weight: 700;
    transition: display 0.3s ease;
}

.saveButton:active {
    transform: translateY(2px); /* Move the button down slightly */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

#savetoLiked {
    left: 12%;
}

#savetoPlaylist {
    left: 60%;
}

#savedSongsList {
    margin-left: 7%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.savedInfo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.savedSongInfo {
    width: 80vw;
    margin-left: 5%;
}

.savedTile {
    height: 50px;
}

.savedTitle {
    font-size: 14px;
}

.savedAuthor {
    font-style: italic;
}

.blur {
    filter: blur(4px);
}

#overlayExit {
    width: 100%;
    height: 100%;
    position: fixed;
}

.overlay.active {
    top: 0;
    display: block;
}

#prevPage {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-weight: 700;
    background-color: #E40076;
    text-align: center;
    position: fixed;
    border-radius: 16px;
    height: 12%;
    padding-top: 2%;
    width: 50%;
    font-size: 32px;
}

#overlayTwo {
    height: 25dvh;
    margin: 0;
    width: 50%;
    background-color: #5001A5;
    z-index: 99;
    position: fixed;
    right: -100%;
    overflow: hidden;
    transition: right 0.3s ease;
    font-size: 16px;
}
#overlayTwo.active {
    right: 0%;
}
#overlayTwoHide {
    height: 25dvh;
    margin: 0;
    width: 50%;
    opacity: 0;
    z-index: 99;
    position: fixed;
    overflow: hidden;
}
#playlistList {
    padding: 5%;
    line-height: 1.5em;
    overflow: auto;
}